.chat-component {
    background-color: #ffffff;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 100px auto 100px;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 4px solid #e5e3f7;
}

.chat-component-avatar {
    display: flex;
    justify-content: center;
}

.chat-component-avatar {
    color: #dddaf7;
    font-size: 25pt;
}

.chat-component-username {
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #9f9db8;
}

.chat-component-datetime {
    font-size: 8pt;
    color: #9f9db8;
}

.chat-component:hover {
    opacity: .7;
    cursor: pointer;
}