.chat-list-view-container {
    display: grid;
    grid-template-columns: 40% auto;
    background-color: #f6f5ff;
}

.chat-list-view-left {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
}

.chat-list-view-right {
    height: 100vh;
    display: grid;
    grid-template-rows: 60px auto 65px;
    background-color: #f6f5ff;
}

.chat-list-view-header {
    background-color: #ffffff;
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: 100px auto 30px;
    color: #dddaf7;
    border-bottom: 5px solid #d2cff0;
    height: 60px;
}

.chat-list-view-avatar {
    display: flex;
    justify-content: center;
    font-size: 25pt;
    color: #c0bed8;
}

.chat-list-view-user {
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #9f9db8;
    font-weight: bold;
}

.chat-list-view-dots {
    border: 0;
    background-color: transparent;
    color: #9f9db8;
    font-size: 17pt;
    color: #9f9db8;
    text-align: center;
}

.chat-list-view-dots:hover {
    opacity: .7;
    cursor: pointer;
}

.chat-list-view-body {
    padding: 10px;
    overflow: auto;
}

.chat-list-view-bottom {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: right;
    border-top: 5px solid #d2cff0;
}

.chat-list-view-add {
    border: 0;
    background-color: #48C9B0;
    color: #ffffff;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    font-size: 20pt;
}

.chat-list-view-add:hover {
    opacity: .7;
    cursor: pointer;
}

.chats-view-header {
    background-color: #f8f7ff;
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: 100px auto 100px;
    color: #dddaf7;
    border-bottom: 5px solid #e7e6ff;
}

.chats-view-back {
    color: #9f9db8;
    font-size: 18pt;
    display: none;
}

.chats-view-avatar {
    display: flex;
    justify-content: center;
    font-size: 25pt;
    color: #c0bed8;
}

.chats-view-user {
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #9f9db8;
    font-weight: bold;
}

.chats-view-body {
    padding: 10px;
    overflow: auto;
    background-color: #ffffff;
}

.chats-view-bottom {
    background-color: #f8f7ff;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: right;
    border-top: 5px solid #e7e6ff;
}

.chats-view-input {
    outline: 0;
    border: 2px solid #e8e7fa;
    border-radius: 5px;
    margin-right: 15px;
    width: 100%;
    padding: 10px;
    color: #9f9db8;
}

::placeholder {
    color: #c3c1df;
}

.chats-view-send {
    border: 0;
    background-color: #6F6DEC;
    color: #ffffff;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    font-size: 17pt;
}

.chats-view-send:hover {
    opacity: .7;
    cursor: pointer;
}

@media(max-width: 980px) {
    .chat-list-view-container {
        grid-template-columns: 50% auto;
    }
}

@media(max-width: 860px) {
    .chat-list-view-container {
        grid-template-columns: auto;
    }

    .chats-view-header {
        grid-template-columns: 30px 100px auto 100px;
    }

    .chat-list-view-right {
        position: absolute;
    }

    .chats-view-back {
        display: initial;
        text-align: center;
        border: 0;
        background-color: transparent;
    }

    .chats-view-back:hover {
        opacity: .7;
        cursor: pointer;
    }
}